
*
{
	margin:0;
	padding:0;
}
@font-face {
  font-family: HKGrotesk-Bold;
  src: url(../fonts/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: HKGrotesk-Medium;
  src: url(../fonts/HKGrotesk-Medium.otf);
}
@font-face {
  font-family: HKGrotesk-Regular;
  src: url(../fonts/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: HKGrotesk-Light;
  src: url(../fonts/HKGrotesk-Light.otf);
}
@font-face {
  font-family: HKGrotesk-SemiBold;
  src: url(../fonts/HKGrotesk-SemiBold.otf);
}
p, li
{
font-family: HKGrotesk-Regular;	
}

#stars .fa
{
	color: #FFD200;
}
.star-wrapper
{
    display: inline-flex;
    flex-wrap: wrap;
}
.star-wrapper p
{
	margin-left: 5px;
}

h2.grey-title
{
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 19px;
	text-transform: uppercase;
	color: #939C9F;
	margin:20px 0 12px;

}

.product-description h1
{
font-style: normal;
font-family: HKGrotesk-Bold;
font-weight: bold;
font-size: 40px;
line-height: 53px;
color: #222323;
}
.product-description p
{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #4F5659;
}
/*-----------color selector-----------*/

.clr-bt-outer
{
	display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}
.color-btn
{
	border: 1px solid #D8E0E2;
    box-sizing: border-box;
    border-radius: 6px;
    width: 124px;
    display: flex;
    margin: 10px 0 0 10px;
    height: 60px;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
}
.active-color p
{
	color: #202324 !important;
	font-family: HKGrotesk-Medium;
}
.active-color
{
	border: 2px solid #202324;
}
.color-btn h3
{
	font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
.color-btn p
{
	font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #545C5F;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
/*-----------end of color selector-----------*/



/*-----------quantity counter-----------*/
.qty
{
	margin-bottom:34px;
}
.qty .count {
    line-height:48px;
	font-weight: normal;
	color:#34393A;
    font-size: 16px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.counter-btn
{
	cursor: pointer;
    display: inline-block;
	width: 40px;
	height: 48px;
	line-height:48px;
	font-weight: normal;
	color:#8CA4AB;
	font-family: HK Grotesk;
    text-align: center;
	background: #EDF1F2;
	border-radius: 4px;	
}


/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

/*-----------end of quantity counter-----------*/

/*-----------product carousel-----------*/
.carousel {
    margin-top: 20px;
}
.carousel-thumbs
{

    margin-top:28px;
}
.item img
{
	margin:auto;
}
.thumb
{
    margin-right: 1.5%;
    width: 11%;
    cursor: pointer;
    float: left;
}
.thumb img {
	width: 100%;
	}

.carousel-control
{
    width: 48px !important;
    visibility: hidden;
    opacity:1;
}
.carousel-control:after
{
	top: calc(50% - 24px);
    background: #F4F6F6;
    height: 48px;
    width: 48px;
    position: relative;
    z-index: 5;
    display: grid;
    visibility: visible;
    align-content: center;
    border-radius:50%;
}
.carousel-control.right:after
{
	content: url(../img/r-arrow.svg);
}
.carousel-control.left:after
{
	content: url(../img/l-arrow.svg);
}


/*-----------end of product carousel-----------*/

/*-----------hero section-----------*/
.hero-text h1
{
	font-family: HKGrotesk-Bold;
	font-size: 40px;
	line-height: 53px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	margin-bottom:0;
}
.hero-text hr
{
	margin:32px 0;
	height: 4px;
	width:24px;
    background-color: #58C19C;
    border: none;
}
.hero-text p
{
	font-family: HKGrotesk-Light;
	font-size: 18px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom:32px;
}
.hero-text a
{
	background: #2783F3;
	border-radius: 2px;
	padding:12px 20px;
	font-family: HKGrotesk-Regular;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;

}
.hero-inner
{
	padding:83px 0 50px;
}
.hero-outer:after
{
	content: url(../img/slant.svg);
    display: block;
    margin-top: -1px;
    background: url(../img/dots.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10% 0;
    height: 190px;
}

.hero-outer
{
	margin-bottom: 100px;
}

/*-----------end of hero section-----------*/

/*-----------nav section-----------*/
.hbtn1
{
	font-family: HKGrotesk-Regular;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	background: #030F3F;
	border: 1px solid #2B83EA;
	box-sizing: border-box;
	border-radius: 2px;
	padding:9px 20px;
	margin-right:16px;
}
.hbtn2
{
	font-family: HKGrotesk-Regular;
	font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
	color: #528FF0;
	background: #FFFFFF;
border: 1px solid #EDEDED;
box-sizing: border-box;
border-radius: 2px;
	padding:9px 20px;
}
.hd-btns-outer img
{
	margin-right:24px;
}
.hd-btns-outer
{
	float: right;
}
ul.nav li a
{
font-family: HKGrotesk-Light;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 23px;
color: #FFFFFF;
}
.nav>li>a:hover, .nav>li>a:focus
{
	background-color:unset !important;
	color:#2B83EA;
}
.navbar-header
{
	margin-right:80px !important;
}
.navbar-header
{
	padding:9px 0;
}
.navbar
{
padding:15px 0;
margin-bottom:50px;
}
/*-----------end of nav section-----------*/


.rdbt h4
{
	font-style: normal;
	font-family: HKGrotesk-SemiBold;
	font-size: 16px;
	line-height: 22px;
	color: #202324;
	margin-bottom:4px;
}
.rdbt p
{
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
color: #202324;
margin:0;
}
.rdbt
{
	margin-bottom:21px;
}



input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  top: -19px;
  height:0px;
}
input[type='radio']:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #ffffff;
    outline: 2px solid #00ba74;
    }

    input[type='radio']:checked:after {

        background-color: #00ba74;
    }





a.add-btn
{
	font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #00BA74;
    width: 100%;
    display: block;
    border-radius: 4px;
    text-align: center;
    padding: 24px;
    margin-top: 3px;
}
a.add-btn:hover
{
	color:#fff;
	text-decoration: none;
}
a.add-btn img
{
	margin-right: 15px;
	margin-top: -5px;
}
ul.bpts
{
	padding-left: 30px;
	margin:24px 0;
}

ul.bpts li
{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #34393A;
list-style: none;
margin-bottom:12px;

}
ul.bpts li:before
{
	content: url(../img/check-icon.svg);
    position: absolute;
    left: 17px;
    margin-top: 4px;
}
p.del-txt
{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #545C5F;
}
p.del-txt img
{
	margin-right:8px;
}
p.del-txt strong
{
	text-decoration: underline;
}
